*.o
.deps
Makefile
autom4te.cache
compile
config.log
config.status
gtimer
*.bak
*~

# Meson / Ninja
build/
.mesonpy/

# GSettings
data/gschemas.compiled

# IDEs
.cache/
.vscode/

# Local logs
debug.txt
