[Desktop Entry]
Name=GTimer
Comment=Time tracking application
Exec=gtimer
Icon=us.k5n.GTimer
Terminal=false
Type=Application
Categories=Office;Utility;GTK;
StartupNotify=true
StartupWMClass=us.k5n.GTimer
X-GNOME-UsesNotifications=true
